.cart {

    .products {
     /*    width: 80%; */
    }
.product {
    display: flex;
    justify-content: space-between;
    width: 70%;
    padding: 10px;
    position: relative;
    &__img {
        display: block;
        width: 20%;
    }
    &__info {
        width: 60%;
    }
    &__btns {
        display: flex;
        justify-content: space-between;
    }
    &__delete_btn {
        position: absolute;
        top: 0;
        right: 0;
        width: 10%;
        height: 10%;
    }
}
.form {
    height: 70vh;
    width: 40%;
}
}